In [2]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import csv

In [3]:
def extract_urls(path):
    try:
        with open(path) as html_file:
            return [(link.get_text(),link.get('href')) for link in bs(html_file.read(),"html.parser").find_all('a')]
    except IOError:
        return []

In [4]:
result = extract_urls('FT details.html')

In [5]:
import csv
with open('NamesAndLinks.csv','w') as out:
	csv_out = csv.writer(out)
	csv_out.writerows(result)

In [7]:
df = pd.DataFrame(result,columns = ['Name','Link'])

In [8]:
df

,Name,Link
0,Insead,http://rankings.ft.com/businessschoolrankings/...
1,Stanford Graduate School of Business,http://rankings.ft.com/businessschoolrankings/...
2,University of Pennsylvania: Wharton,http://rankings.ft.com/businessschoolrankings/...
3,Harvard Business School,http://rankings.ft.com/businessschoolrankings/...
4,University of Cambridge: Judge,http://rankings.ft.com/businessschoolrankings/...
5,London Business School,http://rankings.ft.com/businessschoolrankings/...
6,Columbia Business School,http://rankings.ft.com/businessschoolrankings/...
7,IE Business School,http://rankings.ft.com/businessschoolrankings/...
8,University of Chicago: Booth,http://rankings.ft.com/businessschoolrankings/...
9,Iese Business School,http://rankings.ft.com/businessschoolrankings/...
10,Ceibs,http://rankings.ft.com/businessschoolrankings/...
11,Northwestern University: Kellogg,http://rankings.ft.com/businessschoolrankings/...
12,MIT: Sloan,http://rankings.ft.com/businessschoolrankings/...
13,University of California at Berkeley: Haas,http://rankings.ft.com/businessschoolrankings/...
14,HKUST Business School,http://rankings.ft.com/businessschoolrankings/...
15,Yale School of Management,http://rankings.ft.com/businessschoolrankings/...
16,Esade Business School,http://rankings.ft.com/businessschoolrankings/...
17,Dartmouth College: Tuck,http://rankings.ft.com/businessschoolrankings/...
18,New York University: Stern,http://rankings.ft.com/businessschoolrankings/...
19,HEC Paris,http://rankings.ft.com/businessschoolrankings/...
20,IMD,http://rankings.ft.com/businessschoolrankings/...
21,SDA Bocconi,http://rankings.ft.com/businessschoolrankings/...
22,University of Michigan: Ross,http://rankings.ft.com/businessschoolrankings/...
23,Duke University: Fuqua,http://rankings.ft.com/businessschoolrankings/...
24,Nanyang Business School,http://rankings.ft.com/businessschoolrankings/...
25,National University of Singapore Business School,http://rankings.ft.com/businessschoolrankings/...
26,Cornell University: Johnson,http://rankings.ft.com/businessschoolrankings/...
27,Indian School of Business,http://rankings.ft.com/businessschoolrankings/...
28,Indian Institute of Management Ahmedabad,http://rankings.ft.com/businessschoolrankings/...
29,Alliance Manchester Business School,http://rankings.ft.com/businessschoolrankings/...
...,...,...
70,The Lisbon MBA,http://rankings.ft.com/businessschoolrankings/...
71,ESMT Berlin,http://rankings.ft.com/businessschoolrankings/...
72,University College Dublin: Smurfit,http://rankings.ft.com/businessschoolrankings/...
73,Edhec Business School,http://rankings.ft.com/businessschoolrankings/...
74,Durham University Business School,http://rankings.ft.com/businessschoolrankings/...
75,Melbourne Business School,http://rankings.ft.com/businessschoolrankings/...
76,University of South Carolina: Moore,http://rankings.ft.com/businessschoolrankings/...
77,University of Rochester: Simon,http://rankings.ft.com/businessschoolrankings/...
78,Vanderbilt University: Owen,http://rankings.ft.com/businessschoolrankings/...
79,University of Strathclyde Business School,http://rankings.ft.com/businessschoolrankings/...
80,Boston College: Carroll,http://rankings.ft.com/businessschoolrankings/...
81,Boston University: Questrom,http://rankings.ft.com/businessschoolrankings/...
82,University of Illinois at Urbana-Champaign,http://rankings.ft.com/businessschoolrankings/...
83,University of Iowa: Tippie,http://rankings.ft.com/businessschoolrankings/...
84,University of Pittsburgh: Katz,http://rankings.ft.com/businessschoolrankings/...
85,George Washington University,http://rankings.ft.com/businessschoolrankings/...
86,Babson College: Olin,http://rankings.ft.com/businessschoolrankings/...
87,University of Minnesota: Carlson,http://rankings.ft.com/businessschoolrankings/...
88,Incae Business School,http://rankings.ft.com/businessschoolrankings/...
89,Pennsylvania State University: Smeal,http://rankings.ft.com/businessschoolrankings/...
90,University of Edinburgh Business School,http://rankings.ft.com/businessschoolrankings/...
91,Grenoble Ecole de Management,http://rankings.ft.com/businessschoolrankings/...
92,University of Texas at Dallas: Jindal,http://rankings.ft.com/businessschoolrankings/...
93,Western University: Ivey,http://rankings.ft.com/businessschoolrankings/...
94,Indian Institute of Management Calcutta,http://rankings.ft.com/businessschoolrankings/...
95,Temple University: Fox,http://rankings.ft.com/businessschoolrankings/...
96,Ipade Business School,http://rankings.ft.com/businessschoolrankings/...
97,Birmingham Business School,http://rankings.ft.com/businessschoolrankings/...
98,Vlerick Business School,http://rankings.ft.com/businessschoolrankings/...
99,Queen's University: Smith,http://rankings.ft.com/businessschoolrankings/...

In [25]:
import urllib.request
def extract_table(url):
	with urllib.request.urlopen(url) as page:
		s = page.read()
	htmlsoup = bs(s,"html.parser")
	tables = htmlsoup.find_all("table",{"class":"entitytable halfwidth"})
	vals = []
	for table in tables:
		for row in table.findAll('tr'):
			col = row.findAll('td')
			if col:
				heading = col[0].get_text()
				val = col[1].get_text()
				vals.append(heading,val)    
        print("oneDone")
	return vals

IndentationError: unindent does not match any outer indentation level (<ipython-input-25-1433c2a1aae9>, line 16)

In [20]:
df['dataextract'] = df['Link'].apply(extract_table)
df

,Name,Link,dataextract
0,Insead,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 1), (Rank in 2016, 01), (Rank ..."
1,Stanford Graduate School of Business,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 2), (Rank in 2016, 05), (Rank ..."
2,University of Pennsylvania: Wharton,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 3), (Rank in 2016, 04), (Rank ..."
3,Harvard Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 4), (Rank in 2016, 02), (Rank ..."
4,University of Cambridge: Judge,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 5), (Rank in 2016, 010), (Rank..."
5,London Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 6), (Rank in 2016, 03), (Rank ..."
6,Columbia Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 7), (Rank in 2016, 06), (Rank ..."
7,IE Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 8), (Rank in 2016, 012), (Rank..."
8,University of Chicago: Booth,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 9), (Rank in 2016, 08), (Rank ..."
9,Iese Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 10), (Rank in 2016, 016), (Ran..."
10,Ceibs,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 11), (Rank in 2016, 017), (Ran..."
11,Northwestern University: Kellogg,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 12), (Rank in 2016, 011), (Ran..."
12,MIT: Sloan,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 13), (Rank in 2016, 09), (Rank..."
13,University of California at Berkeley: Haas,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 13), (Rank in 2016, 07), (Rank..."
14,HKUST Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 15), (Rank in 2016, 014), (Ran..."
15,Yale School of Management,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 15), (Rank in 2016, 018), (Ran..."
16,Esade Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 17), (Rank in 2016, 023), (Ran..."
17,Dartmouth College: Tuck,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 18), (Rank in 2016, 022), (Ran..."
18,New York University: Stern,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 19), (Rank in 2016, 019), (Ran..."
19,HEC Paris,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 20), (Rank in 2016, 015), (Ran..."
20,IMD,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 21), (Rank in 2016, 013), (Ran..."
21,SDA Bocconi,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 22), (Rank in 2016, 025), (Ran..."
22,University of Michigan: Ross,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 23), (Rank in 2016, 020), (Ran..."
23,Duke University: Fuqua,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 24), (Rank in 2016, 021), (Ran..."
24,Nanyang Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 24), (Rank in 2016, 029), (Ran..."
25,National University of Singapore Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 26), (Rank in 2016, 032), (Ran..."
26,Cornell University: Johnson,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 27), (Rank in 2016, 031), (Ran..."
27,Indian School of Business,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 27), (Rank in 2016, 029), (Ran..."
28,Indian Institute of Management Ahmedabad,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 29), (Rank in 2016, 024), (Ran..."
29,Alliance Manchester Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 30), (Rank in 2016, 038), (Ran..."
...,...,...,...
70,The Lisbon MBA,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 70), (Rank in 2016, 040), (Ran..."
71,ESMT Berlin,http://rankings.ft.com/businessschoolrankings/...,"[(2017, 11), (2016, 20), (2015, 27), (3-year a..."
72,University College Dublin: Smurfit,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 70), (Rank in 2016, 079), (Ran..."
73,Edhec Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 74), (Rank in 2016, 084), (Ran..."
74,Durham University Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 75), (Rank in 2016, 066), (Ran..."
75,Melbourne Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 76), (Rank in 2016, 087), (Ran..."
76,University of South Carolina: Moore,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 77), (Rank in 2016, -), (Rank ..."
77,University of Rochester: Simon,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 77), (Rank in 2016, 086), (Ran..."
78,Vanderbilt University: Owen,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 79), (Rank in 2016, 071), (Ran..."
79,University of Strathclyde Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 80), (Rank in 2016, 063), (Ran..."
80,Boston College: Carroll,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 80), (Rank in 2016, 069), (Ran..."
81,Boston University: Questrom,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 82), (Rank in 2016, 071), (Ran..."
82,University of Illinois at Urbana-Champaign,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 83), (Rank in 2016, 091), (Ran..."
83,University of Iowa: Tippie,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 84), (Rank in 2016, 094), (Ran..."
84,University of Pittsburgh: Katz,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 85), (Rank in 2016, 098), (Ran..."
85,George Washington University,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 86), (Rank in 2016, 078), (Ran..."
86,Babson College: Olin,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 87), (Rank in 2016, 090), (Ran..."
87,University of Minnesota: Carlson,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 88), (Rank in 2016, 071), (Ran..."
88,Incae Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 89), (Rank in 2016, 083), (Ran..."
89,Pennsylvania State University: Smeal,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 89), (Rank in 2016, 089), (Ran..."
90,University of Edinburgh Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 91), (Rank in 2016, 098), (Ran..."
91,Grenoble Ecole de Management,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 92), (Rank in 2016, 094), (Ran..."
92,University of Texas at Dallas: Jindal,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 93), (Rank in 2016, -), (Rank ..."
93,Western University: Ivey,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 94), (Rank in 2016, 088), (Ran..."
94,Indian Institute of Management Calcutta,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 95), (Rank in 2016, -), (Rank ..."
95,Temple University: Fox,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 95), (Rank in 2016, -), (Rank ..."
96,Ipade Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 97), (Rank in 2016, 080), (Ran..."
97,Birmingham Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 97), (Rank in 2016, 092), (Ran..."
98,Vlerick Business School,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 99), (Rank in 2016, -), (Rank ..."
99,Queen's University: Smith,http://rankings.ft.com/businessschoolrankings/...,"[(Rank in 2017, 100), (Rank in 2016, 093), (Ra..."

In [18]:
new_df = df.drop(['Name','Link'],axis=1)

In [19]:
new_df

                                          dataextract
0   [(Rank in 2017, 1), (Rank in 2016, 01), (Rank ...
1   [(Rank in 2017, 2), (Rank in 2016, 05), (Rank ...
2   [(Rank in 2017, 3), (Rank in 2016, 04), (Rank ...
3   [(Rank in 2017, 4), (Rank in 2016, 02), (Rank ...
4   [(Rank in 2017, 5), (Rank in 2016, 010), (Rank...
5   [(Rank in 2017, 6), (Rank in 2016, 03), (Rank ...
6   [(Rank in 2017, 7), (Rank in 2016, 06), (Rank ...
7   [(Rank in 2017, 8), (Rank in 2016, 012), (Rank...
8   [(Rank in 2017, 9), (Rank in 2016, 08), (Rank ...
9   [(Rank in 2017, 10), (Rank in 2016, 016), (Ran...
10  [(Rank in 2017, 11), (Rank in 2016, 017), (Ran...
11  [(Rank in 2017, 12), (Rank in 2016, 011), (Ran...
12  [(Rank in 2017, 13), (Rank in 2016, 09), (Rank...
13  [(Rank in 2017, 13), (Rank in 2016, 07), (Rank...
14  [(Rank in 2017, 15), (Rank in 2016, 014), (Ran...
15  [(Rank in 2017, 15), (Rank in 2016, 018), (Ran...
16  [(Rank in 2017, 17), (Rank in 2016, 023), (Ran...
17  [(Rank in 2017, 18), (Rank in 2016, 022), (Ran...
18  [(Rank in 2017, 19), (Rank in 2016, 019), (Ran...
19  [(Rank in 2017, 20), (Rank in 2016, 015), (Ran...
20  [(Rank in 2017, 21), (Rank in 2016, 013), (Ran...
21  [(Rank in 2017, 22), (Rank in 2016, 025), (Ran...
22  [(Rank in 2017, 23), (Rank in 2016, 020), (Ran...
23  [(Rank in 2017, 24), (Rank in 2016, 021), (Ran...
24  [(Rank in 2017, 24), (Rank in 2016, 029), (Ran...
25  [(Rank in 2017, 26), (Rank in 2016, 032), (Ran...
26  [(Rank in 2017, 27), (Rank in 2016, 031), (Ran...
27  [(Rank in 2017, 27), (Rank in 2016, 029), (Ran...
28  [(Rank in 2017, 29), (Rank in 2016, 024), (Ran...
29  [(Rank in 2017, 30), (Rank in 2016, 038), (Ran...
..                                                ...
70  [(Rank in 2017, 70), (Rank in 2016, 040), (Ran...
71  [(2017, 11), (2016, 20), (2015, 27), (3-year a...
72  [(Rank in 2017, 70), (Rank in 2016, 079), (Ran...
73  [(Rank in 2017, 74), (Rank in 2016, 084), (Ran...
74  [(Rank in 2017, 75), (Rank in 2016, 066), (Ran...
75  [(Rank in 2017, 76), (Rank in 2016, 087), (Ran...
76  [(Rank in 2017, 77), (Rank in 2016, -), (Rank ...
77  [(Rank in 2017, 77), (Rank in 2016, 086), (Ran...
78  [(Rank in 2017, 79), (Rank in 2016, 071), (Ran...
79  [(Rank in 2017, 80), (Rank in 2016, 063), (Ran...
80  [(Rank in 2017, 80), (Rank in 2016, 069), (Ran...
81  [(Rank in 2017, 82), (Rank in 2016, 071), (Ran...
82  [(Rank in 2017, 83), (Rank in 2016, 091), (Ran...
83  [(Rank in 2017, 84), (Rank in 2016, 094), (Ran...
84  [(Rank in 2017, 85), (Rank in 2016, 098), (Ran...
85  [(Rank in 2017, 86), (Rank in 2016, 078), (Ran...
86  [(Rank in 2017, 87), (Rank in 2016, 090), (Ran...
87  [(Rank in 2017, 88), (Rank in 2016, 071), (Ran...
88  [(Rank in 2017, 89), (Rank in 2016, 083), (Ran...
89  [(Rank in 2017, 89), (Rank in 2016, 089), (Ran...
90  [(Rank in 2017, 91), (Rank in 2016, 098), (Ran...
91  [(Rank in 2017, 92), (Rank in 2016, 094), (Ran...
92  [(Rank in 2017, 93), (Rank in 2016, -), (Rank ...
93  [(Rank in 2017, 94), (Rank in 2016, 088), (Ran...
94  [(Rank in 2017, 95), (Rank in 2016, -), (Rank ...
95  [(Rank in 2017, 95), (Rank in 2016, -), (Rank ...
96  [(Rank in 2017, 97), (Rank in 2016, 080), (Ran...
97  [(Rank in 2017, 97), (Rank in 2016, 092), (Ran...
98  [(Rank in 2017, 99), (Rank in 2016, -), (Rank ...
99  [(Rank in 2017, 100), (Rank in 2016, 093), (Ra...

[100 rows x 1 columns]

In [21]:
new_col_list = ['Rank in 2017',
'Rank in 2016',
'Rank in 2015',
'3 year average rank',
'Country',
'Audit year',
'Salary today (US$)',
'Weighted salary (US$)',
'Salary percentage increase',
'Value for money rank',
'Career progress rank',
'Aims achieved (%)',
'Careers service rank',
'Employed at three months (%)',
'Alumni recommend rank',
'Female faculty (%)',
'Female students (%)',
'Female board (%)',
'International faculty (%)',
'International students (%)',
'International board (%)',
'International mobility rank',
'International course experience rank',
'Languages',
'Faculty with doctorates (%)',
'PhD graduates No. (%)',
'FT research rank']

In [23]:
for n,col in enumerate(new_col_list):
    new_df[col] = new_df['dataextract'].apply(lambda dataextract: dataextract[n])

IndexError: list index out of range